.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo:
		%strong
			Tipos de formatos
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_type_format_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo tipo de formato
					%h1 Listado de tipos de formatos

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Nombre
								%th
								%th
								%th

						%tbody
							- @type_formats.each do |type_format|
								%tr
									%td= type_format.name
									%td
										= link_to type_format, :class=>"btn btn-info btn-xs" do
											%i.fa.fa-eye
									%td
										= link_to edit_type_format_path(type_format), :class=>"btn btn-warning btn-xs" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  type_format, data: { confirm: 'Estas seguro?' }, method: :delete, :class=>"btn btn-danger btn-xs" do
											%i.fa.fa-trash-o
