
-if @article.errors.any?
  .alert.alert-danger.alert-dismissable{role: "alert"}
    %button.close{type: "button", data: {dismiss: "alert"} }
      %span{aria: {hidden: "true"} } &times;
      %span.sr-only Close
    %h4= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"

    %ul
      - @article.errors.full_messages.each do |msg|
        %li= msg


.form-group
  = f.label "Código", :for => :code, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_field :code, class: 'form-control'
.form-group
  = f.label "Descripción", :for => :description, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_area :description, class: 'form-control'
.form-group
  = f.label "Marca", :for => :brand, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.collection_select :brand_id, Brand.all, :id, :name,  {prompt: "Seleccione una marca"}, {:class => 'form-control', :required => "true"}
.form-group
  = f.label "Uso / Aplicación", :for => :applicant, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.text_area :applicant, class: 'form-control'
.form-group
  = f.label "Foto", :for => :photo, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.file_field :photo, class: 'form-control'


.form-group
  = f.label "Familia de artículo", :for => :type_article_id, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.collection_select :type_article_id, TypeArticle.all, :id, :name,  {prompt: "Seleccione un tipo"}, {:class => 'form-control', :required => "true"}
.form-group
  = f.label "Tipo de vehículo", :for => :type_vehicle_id, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.collection_select :type_vehicle_id, TypeVehicle.all, :id, :name,  {prompt: "Seleccione un tipo"}, {:class => 'form-control', :required => "true"}
.form-group
  = f.label "Tipo de formato", :for => :type_format_id, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.collection_select :type_format_id, TypeFormat.all, :id, :name,  {prompt: "Seleccione un tipo"}, {:class => 'form-control', :required => "true"}
.form-group
  = f.label "Precio de compra", :for => :pin, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :pin, class: 'form-control'

.form-group
  = f.label "Precio de venta", :for => :pou, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :pou, class: 'form-control'
.form-group
  = f.label "Porcentaje de descuento", :for => :discount, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :discount, class: 'form-control'
.form-group
  = f.label "Stock tienda", :for => :stock, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :stock, class: 'form-control'
.form-group
  = f.label "Stock bodega", :for => :stock_store, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :stock_store, class: 'form-control'
.form-group
  = f.label "Stock mínimo", :for => :stock_min, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.number_field :stock_min, class: 'form-control'
.form-group
  = f.label "Habilitado?", :for => :status, class: 'col-sm-2 control-label'
  .col-sm-10
    = f.check_box :status, class: 'form-control'

.form-group
  .col-sm-offset-2.col-sm-10
    = f.submit class: 'btn btn-primary'
