.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo el artículo:
		%strong
			= @article.description
.row
	
	.col-md-8
		.panel
			.panel-body
				
				%div
					%ul.nav.nav-tabs{:role => "tablist"}
						%li.active{:role => "presentation"}
							%a{:href => "#informacion", "aria-controls" => "home", :role => "tab", "data-toggle" => "tab"}
								Información
						%li{:role => "presentation"}
							%a{:href => "#detalle", "aria-controls" => "home", :role => "tab", "data-toggle" => "tab"}
								Detalles
						%li{:role => "presentation"}
							%a{:href => "#historial", "aria-controls" => "home", :role => "tab", "data-toggle" => "tab"}
								Historial de compras
						%li{:role => "presentation"}
							%a{:href => "#ventashistorial", "aria-controls" => "home", :role => "tab", "data-toggle" => "tab"}
								Historial de ventas
					.tab-content
						.tab-pane.active#informacion
							%p
								%small.text-muted
									Código
								%br
								= @article.code
							

							%p
								%small.text-muted
									Artículo
								%br
								= @article.description
							%p
								%small.text-muted
									Marca
								%br
								= @article.brand.name
							%p 
								%small.text-muted
									Detalle de disponibilidad
								%br
								Cantidad disponible en tienda:
								- if @article.stock.to_i > 0
									%span.label.label-info
										= @article.stock
								- else
									%span.label.label-danger
										Agotado
								%br
								Cantidad disponible en bodega:
								
								- if @article.stock_store.to_i > 0
									%span.label.label-info
										= @article.stock_store
								- else
									%span.label.label-danger
										Agotado
						
							%p
								Precio de venta:
								%span.label.label-success
									= number_to_currency(@article.pou.to_i)
							%p
								%small.text-muted
									Tags
								%br
								= raw @article.tag_list.map {|t| link_to t, tag_path(t)}.join(', ')

							

						.tab-pane#detalle
							%p
								%dl.dl-horizontal
									%dt Código:
									%dd= @article.code
									%dt Descripción:
									%dd= @article.description
									%dt Marca:
									%dd= @article.brand.name
									%dt Familia de artículo:
									%dd= @article.type_article.name
									%dt Tipo de vehículo:
									%dd= @article.type_vehicle.name
									%dt Tipo de formato:
									%dd= @article.type_format.name
									%dt Estado:
									
									%dd
										-if (@article.status == true)
											%span.label.label-success
												Vigente
										-else
											%span.label.label-warning
												No Vigente

									%dt Uso / Aplicación:
									%dd= @article.applicant
									%dt Precio Compra:
									%dd= number_to_currency(@article.pin)
									%dt Precio Venta:
									%dd= number_to_currency(@article.pou)
									%dt Porcentaje de descuento:
									%dd= @article.discount
									%dt Stock Tienda:
									%dd= @article.stock
									%dt Stock Bodega:
									%dd= @article.stock_store
									%dt Stock Mínimo:
									%dd= @article.stock_min
								.div.pull-right.lighted
									%span{:style => "display:block;"}
										Última actualización:
										hace  
										= time_ago_in_words(@article.updated_at)
									%span{:style => "display:block;"}
										Creación del artículo: 
										hace 
										= time_ago_in_words(@article.created_at)
						.tab-pane#historial
							%p
								%small.text-muted
									Historial de compras
							.row
								.col-md-6
									.form-group
										%label{:for => "min"}
											Fecha desde
										.input-group.date#dpmin
											%input{:type => "text", :id=>"min", :name=>"min", :class=>"form-control"}
											%span.input-group-addon
												%i.fa.fa-calendar
								.col-md-6
									.form-group
										%label{:for => "max"}
											Fecha hasta
										.input-group.date#dpmax
											%input{:type => "text", :id=>"max", :name=>"min", :class=>"form-control"}
											%span.input-group-addon
												%i.fa.fa-calendar
								
							%table.table.table-striped.table-bordered.table-hover.historylist{:width=> "100%"}
								%thead
									%tr
										%th Nº Documento
										%th Fecha
										%th Tienda
										%th Bodega
										%th Precio compra
										%th
								%tbody
									- @article.purchase_details.each do |detail|
										%tr
											%td
												-if detail.purchase.number_doc.present?
													= detail.purchase.number_doc
											%td
												-if detail.purchase.date_doc.present?
													= detail.purchase.date_doc.strftime('%d-%m-%Y')
											%td= detail.stock
											%td= detail.stock_store
											%td= number_to_currency(detail.pin)
											%td
												= link_to detail.purchase, :class=>"btn btn-info" do
													%i.fa.fa-eye
						.tab-pane#ventashistorial
							%p
								%small.text-muted
									Historial de ventas
							.row
								.col-md-6
									.form-group
										%label{:for => "minS"}
											Fecha desde
										.input-group.date#dpmin
											%input{:type => "text", :id=>"minS", :name=>"min", :class=>"form-control"}
											%span.input-group-addon
												%i.fa.fa-calendar
								.col-md-6
									.form-group
										%label{:for => "maxS"}
											Fecha hasta
										.input-group.date#dpmax
											%input{:type => "text", :id=>"maxS", :name=>"min", :class=>"form-control"}
											%span.input-group-addon
												%i.fa.fa-calendar
								
							%table.table.table-striped.table-bordered.table-hover.historylist{:width=> "100%"}
								%thead
									%tr
										%th Nº Documento
										%th Fecha
										%th Tienda
										%th Bodega
										%th Precio venta
										%th
								%tbody
									- @article.sale_details.each do |detail|
										%tr
											%td= detail.sale.number_doc
											%td= detail.sale.created_at.strftime('%d-%m-%Y')
											%td= detail.stock
											%td= detail.stock_store
											%td= number_to_currency(detail.pou)
											%td
												= link_to detail.sale, :class=>"btn btn-info" do
													%i.fa.fa-eye



			
	.col-md-4
		.panel
			.panel-body
				= link_to articles_path, class: 'btn btn-default' do
					%span.glyphicon.glyphicon-list-alt
					Volver
				= link_to edit_article_path(@article), class: 'btn btn-primary' do
					%span.glyphicon.glyphicon-pencil
					Editar
		.panel.panel-default
			.panel-heading
				Imágenes del producto
			.panel-body
				.owl-carousel.owl-theme
					-@article.pictures.each do |pic|
						%a{:href => pic.image.url(:original) , "data-lightbox"=>"roadtrip"}
							%img{:src => pic.image.url(:medium), :alt => "", :class=>"img-responsive"}
	