.nested-fields
	.row
		.col-md-3
			.form-group
				= f.label "Artículo", :for => :article_id
				= f.collection_select :article_id, Article.all, :id, :description,  {prompt: "Seleccione un artículo"}, {:id=>'selectArticle',:class => 'form-control', :required => "true"}
		.col-md-2
			.form-group
				= f.label "Stock Tienda", :for => :stock
				= f.number_field :stock, class: 'form-control'
				%small#emailHelp.form-text.text-muted
					Ingrese un valor numérico mayor o igual a 0

		.col-md-2
			.form-group
				= f.label "Stock Bodega", :for => :stock_store
				= f.number_field :stock_store, class: 'form-control'
				%small#emailHelp.form-text.text-muted
					Ingrese un valor numérico mayor o igual a 0
		.col-md-3
			.form-group
				= f.label "Precio Compra", :for => :pin
				= f.number_field :pin, class: 'form-control'
				%small#emailHelp.form-text.text-muted
					Ingrese el precio sin puntos ni símbolos
		.col-md-2
			= link_to_remove_association "Descartar artículo", f 

    