.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo: 
		%strong
			Compras
.row
	.col-md-8
		.panel
			.panel-body
				
				.table-responsive
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th #
								%th N. Documento
								%th Proveedor
								%th Rut
								-# %th Tipo
								%th Fecha
								%th Estado
								%th Pago
								%th
								-# %th
								-# %th

						%tbody
							- @purchases.each do |purchase|
								%tr
									%td
										.text-warning
											- unless purchase.number_doc.present? and purchase.date_doc.present? and purchase.status_payment.present? 
												%i.fa.fa-exclamation-circle
									
									%td= purchase.number_doc
									%td= purchase.supplier.bname
									%td= purchase.supplier.rut
									-# - if purchase.type_document.present?
									-# 	%td= purchase.type_document.name
									-# - else
									-# 	%td
									- if purchase.date_doc.present?
										%td= purchase.date_doc.strftime('%d-%m-%Y')
									- else
										%td
									%td= purchase.status
									- if purchase.status_payment.present?
										%td
											= purchase.status_payment.name
									- else
										%td
									%td
										= link_to purchase, :class=>"btn btn-info" do
											%i.fa.fa-eye
									-# %td
									-# 	= link_to edit_purchase_path(purchase), :class=>"btn btn-warning" do
									-# 		%i.fa.fa-pencil-square-o
									-# %td
									-# 	= link_to  purchase, data: { confirm: 'Estas seguro?' }, method: :delete, :class=>"btn btn-danger" do
									-# 		%i.fa.fa-trash-o
	.col-md-4
		.panel.panel-info
			.panel-body
				= link_to new_purchase_path, class: 'btn btn-success btn-block' do
					%span.glyphicon.glyphicon-plus
					Nueva compra
				%hr
				%small.text-muted
					Listado de compras
				%h5 
					Artículos comprados para tienda:
					= @stock
				%h5
					Artículos comprados para bodega:
					= @stock_store

