.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_status_payment_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo esto de pago
					%h1 Listado de estados de pago

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover
						%thead
							%tr
								%th Nombre
								%th
								%th
								%th

						%tbody
							- @status_payments.each do |status_payment|
								%tr
									%td= status_payment.name
									%td
										= link_to status_payment, :class=>"btn btn-info btn-xs" do
											%i.fa.fa-eye
									%td
										= link_to edit_status_payment_path(status_payment), :class=>"btn btn-warning btn-xs" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  status_payment, data: { confirm: 'Estas seguro de eliminar?' }, method: :delete, :class=>"btn btn-danger btn-xs" do
											%i.fa.fa-trash-o
