.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_customer_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo Customer
					%h1 Listado de customers

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover
						%thead
							%tr
	%th Observation
	%th Run
	%th Name
	%th Address
	%th Commune
	%th City
	%th Phone
	%th Phone2
	%th Email
	%th Status
	%th B rut
	%th B name
	%th B address
	%th B commune
	%th B activity
	%th B phone
	%th B email
								%th
								%th
								%th

						%tbody
							- @customers.each do |customer|
								%tr
	%td= customer.observation
	%td= customer.run
	%td= customer.name
	%td= customer.address
	%td= customer.commune
	%td= customer.city
	%td= customer.phone
	%td= customer.phone2
	%td= customer.email
	%td= customer.status
	%td= customer.b_rut
	%td= customer.b_name
	%td= customer.b_address
	%td= customer.b_commune
	%td= customer.b_activity
	%td= customer.b_phone
	%td= customer.b_email
									%td
										= link_to customer, :class=>"btn btn-info" do
											%i.fa.fa-eye
									%td
										= link_to edit_customer_path(customer), :class=>"btn btn-warning" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  customer, data: { confirm: 'Estas seguro de eliminar?' }, method: :delete, :class=>"btn btn-danger" do
											%i.fa.fa-trash-o
