.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo: 
		%strong
			Clientes
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_customer_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo Cliente
					%h1 Listado de clientes

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Run
								%th Nombre
								%th Teléfono
								%th Comuna
								%th
								%th
								%th

						%tbody
							- @customers.each do |customer|
								%tr
									%td= customer.run
									%td= customer.name
									%td= customer.phone
									%td= customer.commune
									%td
										= link_to customer, :class=>"btn btn-info btn-xs" do
											%i.fa.fa-eye
									%td
										= link_to edit_customer_path(customer), :class=>"btn btn-warning btn-xs" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  customer, data: { confirm: 'Estas seguro de eliminar?' }, method: :delete, :class=>"btn btn-danger btn-xs" do
											%i.fa.fa-trash-o
