.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo:
		%strong
			Tipos de documentos
.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_type_document_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo tipo de documento
					%h1 Listado de tipos de docuementos

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Nombre
								%th
								%th
								%th
						%tbody
							- @type_documents.each do |type_document|
								%tr
									%td= type_document.name
									%td
										= link_to type_document, :class=>"btn btn-info btn-xs" do
											%i.fa.fa-eye
									%td
										= link_to edit_type_document_path(type_document), :class=>"btn btn-warning btn-xs" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  type_document, data: { confirm: 'Estas seguro?' }, method: :delete, :class=>"btn btn-danger btn-xs" do
											%i.fa.fa-trash-o
