.breadcrumb
  %li
    %a{:href => root_path}
      %i.fa.fa-home
  %li.active
    Estas viendo: 
    %strong
      Marcas
.row
  .col-md-12
    .panel
      .panel-body
        .page-header
          = link_to new_brand_path, class: 'btn btn-success' do
            %span.glyphicon.glyphicon-plus
            Nueva Marca
          %h1 Listado de marcas

        .table-responsive
          %table.table.table-striped.table-bordered.table-hover.homelist
            %thead
              %tr
                %th Nombre
                %th
                %th
                %th

            %tbody
              - @brands.each do |brand|
                %tr
                  %td= brand.name
                  %td
                    = link_to brand, :class=>"btn btn-info btn-xs" do
                      %i.fa.fa-eye
                  %td
                    = link_to edit_brand_path(brand), :class=>"btn btn-warning btn-xs" do
                      %i.fa.fa-pencil-square-o
                  %td
                    = link_to  brand, data: { confirm: 'Estas seguro?' }, method: :delete, :class=>"btn btn-danger btn-xs" do
                      %i.fa.fa-trash-o
