.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to suppliers_path, class: 'btn btn-default' do
						%span.glyphicon.glyphicon-list-alt
						Volver
					= link_to edit_supplier_path(@supplier), class: 'btn btn-primary' do
						%span.glyphicon.glyphicon-pencil
						Editar
					%h1 Viendo proveedor

				%dl.dl-horizontal
					%dt Rut:
					%dd= @supplier.rut
					%dt Razón Social:
					%dd= @supplier.bname
					%dt Dirección:
					%dd= @supplier.address
					%dt Comuna:
					%dd= @supplier.comunne
					%dt Ciudad:
					%dd= @supplier.city
					%dt Actividad:
					%dd= @supplier.activity
					%dt Teléfono:
					%dd= @supplier.phone
					%dt Estado:
					%dd= @supplier.status
