%nav.navbar.navbar-ct-blue.navbar-blue{role: "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{type: "button", "data-toggle": "collapse", "data-target": "#navbar" }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a{:href => root_path(), :class=>"navbar-brand navbar-brand-logo" }
        .logo
          %img{:src => asset_path('logo.png'), :class => "img-responsive"}
        .brand
          Repuestos Catalán
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{:href => purchases_path()}
            %i.pe-7s-cash
              %span.label
                = @compras
            %p Ventas
        %li
          %a{:href => purchases_path()}
            %i.pe-7s-cart
              %span.label
                = @compras
            %p Compras
        %li
          %a{:href => purchases_path()}
            %i.pe-7s-drawer
              %span.label
                = @compras
            %p Cotizaciones
        %li
          %a{:href => purchases_path()}
            %i.pe-7s-graph1
            %p Reportes
        %li
          %a{:href => articles_path()}
            %i.pe-7s-note2
              %span.label
                = @articulos
            %p Artículos
        %li
          %a{:href => suppliers_path()}
            %i.pe-7s-users
              %span.label
                = @proveedores
            %p Proveedores
        %li.dropdown
          %a{:href => "#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown", :role=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
            %i.pe-7s-config
            %p Mantenedores
          %ul.dropdown-menu
            %li
              %a{:href => states_path()}
                Estados de documentos
            %li
              %a{:href => type_articles_path()}
                Familias de Artículos
            %li
              %a{:href => payment_methods_path()}
                Formas de Pago
            %li
              %a{:href => brands_path()}
                Marcas
            %li
              %a{:href => type_documents_path()}
                Tipos de documentos
            %li
              %a{:href => type_formats_path()}
                Tipos de Formatos
            %li
              %a{:href => type_vehicles_path()}
                Tipos de Vehículos
            
            
