-if user_signed_in?
  %nav.navbar.navbar-ct-blue.navbar-blue{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{type: "button", "data-toggle": "collapse", "data-target": "#navbar" }
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a{:href => root_path(), :class=>"navbar-brand navbar-brand-logo" }
          .logo
            %img{:src => asset_path('logo.jpg'), :class => "img-responsive"}
      #navbar.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          

          %li
            %a{:href => sales_path()}
              %i.pe-7s-cart
                %span.label
                  = @ventas
              %p Ventas
          %li
            %a{:href => purchases_path()}
              %i.pe-7s-shopbag
                %span.label
                  = @compras
              %p Compras
          %li
            %a{:href => quotations_path()}
              %i.pe-7s-bell
                %span.label
                  = @cotizaciones
              %p Cotizaciones
          %li
            %a{:href => reports_index_path}
              %i.pe-7s-graph1
              %p Reportes
          %li
            %a{:href => articles_path()}
              %i.pe-7s-config
                %span.label
                  = @articulos
              %p Artículos
          %li
            %a{:href => customers_path()}
              %i.pe-7s-users
                %span.label
                  = @clientes
              %p Clientes
          %li
            %a{:href => suppliers_path()}
              %i.pe-7s-id
                %span.label
                  = @proveedores
              %p Proveedores
          %li.dropdown
            %a{:href => "#", :class=>"dropdown-toggle", "data-toggle"=>"dropdown", :role=>"button", "aria-haspopup"=>"true", "aria-expanded"=>"false"}
              %i.pe-7s-browser
              %p Mantenedores
            %ul.dropdown-menu
              %li
                %a{:href => states_path()}
                  Estados de documentos
              %li
                %a{:href => status_payments_path()}
                  Estados de Pago
              %li
                %a{:href => type_articles_path()}
                  Familias de Artículos
              %li
                %a{:href => payment_methods_path()}
                  Formas de Pago
              %li
                %a{:href => brands_path()}
                  Marcas
              %li
                %a{:href => type_documents_path()}
                  Tipos de documentos
              %li
                %a{:href => type_formats_path()}
                  Tipos de Formatos
              %li
                %a{:href => type_vehicles_path()}
                  Tipos de Vehículos
          %li.logout  
            = link_to destroy_user_session_path, method: 'delete' do
              %i.pe-7s-close-circle
                %span.label
              %p Cerrar Sesión
  .session-nav
    .container
      %span
        Usuario conectado:
        %em
          = current_user.username
      %span
        Última sesión:
        %em
          hace 
          = time_ago_in_words(current_user.last_sign_in_at)
      .quickaccess
        %span
          %a{:href => new_sale_path()}
            %i.pe-7s-cart
        %span
          %a{:href => new_purchase_path()}
            %i.pe-7s-shopbag
        %span
          %a{:href => new_article_path()}
            %i.pe-7s-config
- else
  %div{:style=>"width:100%; height: 40px;"}
              
            
