.row
	.col-md-9
		.panel
			.panel-body
				#accordion.panel-group{"aria-multiselectable" => "true", :role => "tablist"}
					.panel.panel-default
						#headingOne.panel-heading{:role => "tab"}
							%h4.panel-title
								%a{"aria-controls" => "collapseOne", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne", :role => "button"}
									Filtros avanzados
									%i.fa.fa-caret-down 
						#collapseOne.panel-collapse.collapse{"aria-labelledby" => "headingOne", :role => "tabpanel"}
							.panel-body
								.row
									.col-md-12
										%small.text-muted 
											Filtrar por fecha
										= form_tag(find_fordate_sales_path, :method => :get, :class=>"form-inline") do
											.form-group
												#desde.input-group.date
													= text_field_tag :desde, nil, {:class=>"form-control", :required=>"true"}
													%span.input-group-addon
														%span.glyphicon.glyphicon-calendar
											%small.text-muted
												hasta
											.form-group
												#hasta.input-group.date
													= text_field_tag :hasta, nil, {:class=>"form-control", :required=>"true"}
													%span.input-group-addon
														%span.glyphicon.glyphicon-calendar
												
									
											%button.btn.btn-success{:type=>"submit"}
												%i.fa.fa-search
												Buscar
								.row
									.col-md-12
										%hr
										= link_to sales_path, :class=>"btn btn-default" do
											%i.fa.fa-filter
											Quitar filtros

				.table-responsive
					
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Fecha
								%th Vendedor
								%th Pago
								%th Nº Doc.
								%th Tipo
								%th Pago
								%th Cliente
								%th

						%tbody
							- @sales.each do |sale|
								%tr
									%td= sale.created_at.strftime('%d-%m-%Y')
									%td= sale.user.username
									%td
										-if sale.payment_method.present?
											= sale.payment_method.name
			
									%td= sale.number_doc
									%td
										-if sale.type_document.present?
											= sale.type_document.name
			
									%td
										-if sale.status_payment.present?
											= sale.status_payment.name
			
									%td
										-if sale.customer.present?
											= sale.customer.name
			
									%td
										= link_to sale, :class=>"btn btn-info btn-xs" do
											%i.fa.fa-eye
	.col-md-3
		.panel
			.panel-body
				= link_to new_sale_path, class: 'btn btn-success btn-block' do
					%span.glyphicon.glyphicon-plus
					Nueva venta
		.panel
			.panel-body
				%h5 Los 10 artículos más vendidos
				%hr
				%ol
					- @masvendidos.each do |top|
						- cantidad = SaleDetail.where(article_id: top.article_id).count
						- articulo = Article.find(top.article_id)
						
						%li
							= articulo.description
							%small.text-muted
								= cantidad
					
					
					