.row
	.col-md-12
		.panel
			.panel-body
				.page-header
					= link_to new_sale_path, class: 'btn btn-success' do
						%span.glyphicon.glyphicon-plus
						Nuevo Sale
					%h1 Listado de sales

				.table-responsive
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Vendedor
								%th Pago
								%th Nº Doc.
								%th Tipo
								%th Pago
								%th Cliente
								%th
								%th
								%th

						%tbody
							- @sales.each do |sale|
								%tr
									%td= sale.user.username
									%td= sale.payment_method.name
									%td= sale.number_doc
									%td= sale.type_document.name
									%td= sale.status_payment.name
									%td= sale.customer.name
									%td
										= link_to sale, :class=>"btn btn-info" do
											%i.fa.fa-eye
									%td
										= link_to edit_sale_path(sale), :class=>"btn btn-warning" do
											%i.fa.fa-pencil-square-o
									%td
										= link_to  sale, data: { confirm: 'Estas seguro de eliminar?' }, method: :delete, :class=>"btn btn-danger" do
											%i.fa.fa-trash-o
