.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo la venta Nº:
		%strong
			= @sale.id
.row
	.col-md-8
		.panel
			.panel-body
				
	.col-md-4
		.panel.panel-default
			
			.panel-body
				%small.text-muted.pull-right
					Nº Venta:
					= @sale.id
				%hr
				%small.text-muted
					Cliente:
				%h5
					= @sale.customer.name
				%small.text-muted
					Datos de la compra:

				%ul.lista
				
					%li
						Tipo de documento: 
						= @sale.type_document.name
					%li
						Creación de la venta:
						%ul
							%li
								Fecha:
								%strong
									= @sale.created_at.strftime('%d-%m-%Y')
							%li
								Hora:
								%strong
									= @sale.created_at.strftime('%T')
					%li
						Método de pago:
						- if @sale.payment_method.present? 
							= @sale.payment_method.name
					%li
						Observaciones
						= @sale.observation
					%li
						Estado:
						%ul
							%li 
								De pago:
								= @sale.status_payment.name
				.panel.panel-info
					.panel-body
						-# %small.text-muted
						-# 	Neto: 
						-# %h5= number_to_currency(@tot_neto)
						-# %small.text-muted
						-# 	IVA: 
						-# %h5= number_to_currency(@tot_iva)
						-# %small.text-muted
						-# 	Total: 
						-# %h5= number_to_currency(@tot_total)
			.panel-footer
				= link_to sales_path, class: 'btn btn-default' do
					%span.glyphicon.glyphicon-list-alt
					Volver
				= link_to edit_sale_path(@sale), class: 'btn btn-primary' do
					%span.glyphicon.glyphicon-pencil
					Editar

.modal.fade#searchArticle
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button{:type => "button", :class => "close", "data-dismiss"=> "modal"}
					%span
						&times;
				%h4.modal-title
					Buscando artículo
			.modal-body








