.breadcrumb
	%li
		%a{:href => root_path}
			%i.fa.fa-home
	%li.active
		Estas viendo la venta Nº:
		%strong
			= @sale.id
.row
	.col-md-3
		.panel.panel-default
			.panel-heading
				Nº Venta
				= @sale.id
			.panel-body
				
				%small.text-muted
					Cliente:
				%h5
					-if @sale.customer.present?
						= @sale.customer.name
					-else
						No registrado
					
				%small.text-muted
					Datos de la compra:
				%p
					%span
						Tipo de documento: 
						- if @sale.type_document.present? 
							= @sale.type_document.name
					%span
						Nº de documento: 
						= @sale.number_doc
					%span
						Creación de la venta:
						%ul
							%li
								Fecha:
								%strong
									= @sale.created_at.strftime('%d-%m-%Y')
							%li
								Hora:
								%strong
									= @sale.created_at.strftime('%T')
					%span
						Método de pago:
						- if @sale.payment_method.present? 
							= @sale.payment_method.name
					%span
						Observaciones
						= @sale.observation
					%span
						Estado:
						%ul
							%li 
								De pago:
								- if @sale.status_payment.present? 
									= @sale.status_payment.name
		
				
				
	.col-md-6
		
		.panel
			.panel-body
				.row
					.col-md-12
						.articulo-seleccionado
							%span
								Artículo:
								%strong#description_search

							%span
								Código:
								%strong#code_search
							%span
								Cant. Tienda:
								%strong#stock_search
							%span
								Cant. Bodega:
								%strong#stock_store_search

							.text-right
								%button.btn.btn-default{"data-toggle"=>"tooltip", "data-placement"=>"left", :id=>"ptope", :title=> ""}
									%i.fa.fa-eye

						= form_for @sale_detail, html: { role: "form" } do |f|
							-if @sale.errors.any?
								.alert.alert-danger.alert-dismissable{role: "alert"}
									%button.close{type: "button", data: {dismiss: "alert"} }
										%span{aria: {hidden: "true"} } &times;
										%span.sr-only Close
									%h4= "#{pluralize(@sale.errors.count, "error")} Prohibió la venta de esta venta:"

									%ul
										- @sale.errors.full_messages.each do |msg|
											%li= msg
							
							= f.hidden_field :article_id, :id=> "id_search", :required => :true
							= f.hidden_field :sale_id, :value => @sale.id
							.row
								.col-md-3
									.form-group
										= f.label "Stock Tienda", :for => :stock
										= f.number_field :stock, class: 'form-control'
										%small#emailHelp.form-text.text-muted
											Ingrese un valor numérico mayor o igual a 0

								.col-md-3
									.form-group
										= f.label "Stock Bodega", :for => :stock_store
										= f.number_field :stock_store, class: 'form-control'
										%small#emailHelp.form-text.text-muted
											Ingrese un valor numérico mayor o igual a 0
								.col-md-3
									.form-group
										= f.label "Precio Venta", :for => :pou
										= f.number_field :pou, class: 'form-control', :id => "pou_search"
										%small#emailHelp.form-text.text-muted
											Ingrese el precio sin puntos ni símbolos
								.col-md-3
									%br
									=f.submit "Agregar", :class=>"btn btn-success btn-block"
					
		
	.col-md-3
		= link_to sales_path, class: 'btn btn-default',"data-toggle"=>"tooltip", "data-placement"=>"bottom", :id=>"ptope", :title=> "Ir a ventas" do
			%span.glyphicon.glyphicon-list-alt
		= link_to edit_sale_path(@sale), class: 'btn btn-primary',"data-toggle"=>"tooltip", "data-placement"=>"bottom", :id=>"ptope", :title=> "Editar esta venta" do
			%span.glyphicon.glyphicon-pencil
		= link_to sale_path(@sale.id, :format => :pdf), :target =>"_blank", :class=>"btn btn-info","data-toggle"=>"tooltip", "data-placement"=>"bottom", :id=>"ptope", :title=> "Imprimir comprobante" do
			%i.fa.fa-print
		= link_to sale_path(@sale.id, :format => :pdf), :target =>"_blank", :class=>"btn btn-warning","data-toggle"=>"tooltip", "data-placement"=>"bottom", :id=>"ptope", :title=> "Convertir a cotización" do
			%i.fa.fa-retweet
		%hr
		.panel.panel-primary
			.panel-heading
				Seleccione artículos
			.panel-body

				%a{:href => articles_path, "data-remote"=> "true" , :class=>"btn btn-primary btn-block"}
					%i.fa.fa-search
					Seleccione un artículo
		.panel.panel-primary
			.panel-heading
				Destacados
			.panel-body
				%p proximamente

	.col-md-12
		.panel.panel-default
			.panel-heading
				Detalle de venta
			.panel-body
				- if @sale.sale_details.count > 0
					%table.table.table-striped.table-bordered.table-hover.homelist
						%thead
							%tr
								%th Código
								%th Descripción
								%th Tienda
								%th Bodega
								%th P. Venta
								%th Neto
								%th
						%tbody
							- @sale.sale_details.each do |detail|
								%tr
									%td= link_to detail.article.code, detail.article
									%td= detail.article.description
									%td= detail.stock
									%td= detail.stock_store
									%td= number_to_currency(detail.pou)
									- neto = (detail.stock.to_i + detail.stock_store.to_i) * detail.pou.to_i
									%td= number_to_currency(neto)
									%td
										= link_to  detail, data: { confirm: 'Estas seguro que deseas eliminar?' }, method: :delete, :class=>"btn btn-danger" do
											%i.fa.fa-trash-o
				
				.panel.text-right
					.panel-body
						%small.text-muted
							Neto: 
						%h5= number_to_currency(@tot_neto)
						%small.text-muted
							IVA: 
						%h5= number_to_currency(@tot_iva)
						%small.text-muted
							Total: 
						%h5= number_to_currency(@tot_total)
.modal.fade#searchArticle
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				%button{:type => "button", :class => "close", "data-dismiss"=> "modal"}
					%span
						&times;
				%h4.modal-title
					Buscando artículo
			.modal-body








