
<small class="text-muted text-right" style="display: block;">Fecha venta: <%= @sale.created_at.strftime('%d-%m-%Y') %></small>
<small class="text-muted text-right" style="display: block;">Venta Nº <strong><%= @sale.id %></strong></small><br>
<% if @sale.customer.present? %>
	<small>Cliente: <strong><%= @sale.customer.name %></strong></small><br>
	<small>RUN: <strong><%= @sale.customer.run %></strong></small><br>
	<% if @sale.type_document.present? %>
		<small>Tipo: <strong><%= @sale.type_document.name %></strong></small><br>
	<% end %>
	<% if @sale.number_doc.present? %>
		<small>Nº Documento: <strong><%= @sale.number_doc %></strong></small><br>
	<% end %>
	<% if @sale.payment_method.present? %>
		<small>Método de pago: <strong><%= @sale.payment_method.name %></strong></small><br>
	<% end %>
	<% if @sale.status_payment.present? %>
		<small>Estado de pago: <strong><%= @sale.status_payment.name %></strong></small>
	<% end %>
	<% if @sale.type_document.present? %>
		<% if (@sale.type_document.id == 3) %>
			<small class="text-muted print-title" style="display: block;">Datos para factura</small>
			<small>Razón Social: <strong><%= @sale.customer.b_name %></strong></small><br>
			<small>RUT: <strong><%= @sale.customer.b_rut %></strong></small><br>
			<small>Giro: <strong><%= @sale.customer.b_activity %></strong></small><br>
			<small>Dirección: <strong><%= @sale.customer.b_address %></strong></small><br>
			<small>Comuna: <strong><%= @sale.customer.b_commune %></strong></small><br>
			<small>Teléfono: <strong><%= @sale.customer.b_phone %></strong></small><br>
			<small>Email: <strong><%= @sale.customer.b_email %></strong></small><br>
		<% end %>
	<% end %>

<% end %>
<small class="text-muted print-title" style="display: block;">Detalle de venta</small>
<table class="table-print">
	<tbody>
		<% @sale.sale_details.each do |detail| %>
			<tr>
				<td>
					<%= detail.article.description %>
				</td>
			</tr>
			<tr>
				<% cantidad = detail.stock.to_f + detail.stock_store.to_f %>
				<td>
				<% neto = (detail.stock.to_f + detail.stock_store.to_f) * detail.pou.to_i %>
				<small class="text-muted">CODIGO:&nbsp;&nbsp; <%= detail.article.code %> &nbsp;&nbsp;&nbsp;<%= cantidad %> &nbsp;x &nbsp;&nbsp;&nbsp;<%= detail.pou %></small>	<span class="pull-right"><%= number_to_currency(neto) %></span> </td>
			
			</tr>
		<% end %>
	</tbody>
</table>

<div class="text-right">
	<small>Neto: <strong><%= number_to_currency(@tot_neto) %></strong></small><br>
	<small>IVA: <strong><%= number_to_currency(@tot_iva) %></strong></small><br>
	<small>Total: <strong><%= number_to_currency(@tot_total) %></strong></small><br>
</div>

